<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Global site tag (gtag.js) - Google Analytics-->
  <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110971078-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-110971078-1');
    </script>

    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="vp" content="width=device-width, initial-scale=1">
    <title>DSNY</title>
    <meta name="description" content="Data Science New York">
    <meta name="keywords" content="">
    <meta name="author" content="TonyMele.Rutgers@gmail.com">

    <!-- Data Table -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/dataTableSpecifics/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/dataTableSpecifics/responsive.bootstrap.min.css">

    <!--External CSS -->
    <link rel="stylesheet" type="text/css" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/d3-slider/d3.slider.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/public/business/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/responsive.css">

    <!-- Google Fonts
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
    <link href="/public/portfolio/collegeScorecardDashboard/dashboard.css" rel="stylesheet">
-->
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/public/business/images/header/favicon.ico" sizes="16x16" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Responsive Bootstrap4 Data Tables -->
    <script src="/bower_components/dataTableSpecifics/jquery-1.12.4.js"></script>
    <script src="/bower_components/dataTableSpecifics/jquery.dataTables.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/dataTables.bootstrap.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/dataTables.responsive.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/responsive.bootstrap.min.js"></script>

</head>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" id="navAct" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand"><img src="/public/business/images/logo/logo.png" style="max-height: 40px" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" id="navHome"><a href="/">Home</a></li>
                <li class="active" id="navPortfolio"><a href="/portfolio">Portfolio</a></li>
                <li class="active" id="navContact"><a href="#footer">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- /End Navbar -->

<style>
    html{overflow-y: auto; !important;}
.centered{
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}​

@font-face {
    font-family: Jersey;
    src: url(../static/font/jersey/S54.ttf) format("truetype");
}
.customfont {
    font-family: Jersey
}
body{

width:100%;
height: 100%
}
.arc{stroke-linecap: butt;
margin:0;
padding:0;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<body>

    <div class="centered" style="width: 100%;height: 100%;">
        <div ng-app="machineLearner" ng-controller="Ctrl">
            <algorithm learner-data="nb"></algorithm>
        </div>


        <div class="row" style="margin-top: 300px;margin-left: 10px">

            <div class="col-md-4">
                <h3 class="widget-title" style="vertical-align: center" align="left">Mathematics</h3>
                <h5 style="vertical-align: center;" align="left">Underlying Theory</h5>

                <img src="/public/business/images/portfolio/Bayes_Theorem.gif" style="max-width:100%;margin-left:10px" />​​​​​​​​​​​
            </div>

            <div class="col-md-4">
                <h3 class="widget-title" style="vertical-align: center" align="left">Bayes Classifier</h3>
                <h5 style="vertical-align: center;" align="left">Enter a word to determine if it is positive or negative</h5>

                <div align="center">
                    Please Enter a word and press submit<br>
                    <input type="text" name="word" value="Amazing" class="unigram_token">
                    <br>
                    <button style="height:50px;width:100px" type="button" value="Submit" onclick="get_polarity()">Submit</button>
                </div>

            </div>

            <div class="col-md-4">

            </div>
        </div>


        <div class="row" style="margin-left: 10px;">

            <div class="col-md-4">
                <h3 class="widget-title" style="vertical-align: center" align="left">Data Table</h3>
                <h5 style="vertical-align: center;" align="left">Most Informative Features</h5>
                <table id="tableID" class="tableClass table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"></table>
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>
        </div>





    </div>



    <!-- Responsive Bootstrap4 Data Tables -->
    <script src="/bower_components/dataTableSpecifics/jquery-1.12.4.js"></script>
    <script src="/bower_components/dataTableSpecifics/jquery.dataTables.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/dataTables.bootstrap.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/dataTables.responsive.min.js"></script>
    <script src="/bower_components/dataTableSpecifics/responsive.bootstrap.min.js"></script>


    <script src="/public/static_oldSchema/js/jQuery/jquery.min.js"></script>
    <script src="/public/static_oldSchema/js/d3/d3.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/public/static_oldSchema/js/angular/angular.min.js"></script>
    <script src="/public/static_oldSchema/js/machine_learners/naive_bayes.js"></script>

    <script>
        $('#tableID').DataTable();
    </script>

</body>

</html>