<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110971078-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-110971078-1');
    </script>

    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DSNY</title>
    <meta name="description" content="Data Science New York">
    <meta name="keywords" content="">
    <meta name="author" content="TonyMele.Rutgers@gmail.com">

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/YTPlayer.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/animated-headlines.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/public/business/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/business/css/responsive.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">

    <!-- Color Switcher -->
    <link href="/public/business/switcher/switcher.css" rel="stylesheet">
    <link href="/public/business/switcher/style1.css" rel="stylesheet" id="colors">

    <!-- FancyBox Lightbox-->
    <link href="/bower_components/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet" type="text/css" media="screen">

    <!-- Favicon -->

    <link rel="icon" type="image/png" href="/public/business/images/header/favicon.ico" sizes="16x16" />

    <!--<link rel="apple-touch-icon" href="/public/business/img/template/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/business/img/template/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/business/img/template/icon-114x114.png">-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        html {
            overflow: scroll !important;
            overflow-x: hidden !important;
        }
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Start Preloader Area-->
<div class="preloader-area">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<!--/End Preloader Area-->

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand"><img src="/public/business/images/logo/logo.png" style="max-height: 40px" alt="logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" id="navHome"><a href="/">Home</a></li>
                <li class="active" id="navPortfolio"><a href="#our-portfolio">Portfolio</a></li>
                <li class="active" id="navContact"><a href="#footer">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- /End Navbar -->
<div class="row" style="height:20px"></div>

<!--Our Portfolio-->
<section id="our-portfolio" class="portfolio section-padding">
        <div class="container">


            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        <h2>Data Science New York <span>Portfolio</span></h2>
                        <div class="section-borders"> <span></span> <span></span> <span></span> </div>
                        <p>Enjoy our Portfolio. If you find a project that interests you, please contact us below.</p>
                    </div>
                </div>
            </div>


            <div class="row">
				<div class="col-xs-12">
					<ul class="portfolio">
						<li class="filter" data-filter="all">All Projects</li>
						<li class="filter" data-filter=".datascience">data science</li>
						<li class="filter" data-filter=".machinelearning">machine learning</li>
                        <li class="filter" data-filter=".visualization">visualization</li>
                        <li class="filter" data-filter=".dashboards">dashboards</li>
					</ul>
				</div>
			</div>


            <div class="portfolio-inner">
				<div class="row portfolio-posts">

                    <div class="mix dashboards col-sm-6 col-md-4">
                        <div class="item">
                            <img src="/public/business/images/portfolio/collegeScorecardScreenShot.jpg" height="294" width="360" alt="">
                            <div class="portfolio-caption">
                                <h3>College Scorecard Dashboard</h3>
                                <p>The College Scorecard Dashboard is designed to increase transparency to demonstrate see how well different schools are serving their students.</p>
                                <p>Simple dashboards:</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="/portfolio/college-scorecard-dashboard" class="protfolio-link-bt iframe items">Large Data</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="/portfolio/college-scorecard-dashboard-slim" class="protfolio-link-bt iframe items">Slim Data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mix visualization machinelearning col-sm-6 col-md-4">
						<div class="item">
							<img src="/public/business/images/portfolio/ted.png" alt="">
							<div class="portfolio-caption">
								<h3>TED Talks</h3>
								<p>The TED talks module provides a synced filtering view allowing individuals to explore multidimensional data with ease.</p>
								<a href="/portfolio/ted" class="protfolio-link-bt iframe items">View Dashboard</a>
							</div>
						</div>
					</div>
					<div class="mix datascience col-sm-6 col-md-4">
						<div class="item">
                            <img src="/public/business/images/portfolio/coming-soon.jpg" alt="">
                            <div class="portfolio-caption">
                                <h3>Portfolio Item</h3>
                                <p>Description</p>
                                <a href="#" class="protfolio-link-bt">Read More</a>
                            </div>
						</div>
					</div>
					<div class="mix datascience machinelearning col-sm-6 col-md-4">
						<div class="item">
                            <img src="/public/business/images/portfolio/coming-soon.jpg" alt="">
                            <div class="portfolio-caption">
                                <h3>Portfolio Item</h3>
                                <p>Description</p>
                                <a href="#" class="protfolio-link-bt">Read More</a>
                            </div>
						</div>
					</div>
					<div class="mix datascience visualization col-sm-6 col-md-4">
						<div class="item">
                            <img src="/public/business/images/portfolio/coming-soon.jpg" alt="">
                            <div class="portfolio-caption">
                                <h3>Portfolio Item</h3>
                                <p>Description</p>
                                <a href="#" class="protfolio-link-bt">Read More</a>
                            </div>
						</div>
					</div>
					<div class="mix datascience col-sm-6 col-md-4">
						<div class="item">
                            <img src="/public/business/images/portfolio/coming-soon.jpg" alt="">
                            <div class="portfolio-caption">
                                <h3>Portfolio Item</h3>
                                <p>Description</p>
                                <a href="#" class="protfolio-link-bt">Read More</a>
                            </div>
						</div>
					</div>
					<div class="mix visualization machinelearning col-sm-6 col-md-4">
						<div class="item">
                            <img src="/public/business/images/portfolio/coming-soon.jpg" alt="">
                            <div class="portfolio-caption">
                                <h3>Portfolio Item</h3>
                                <p>Description</p>
                                <a href="#" class="protfolio-link-bt">Read More</a>
                            </div>
						</div>
					</div>

				</div>
			</div>

        </div>
    </section>
<!-- /End Our Portfolio -->

<!-- Footer section -->
<footer id="footer" class="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Widget :: About us -->
                    <div class="widget-newsletter widget widget-footer">
                        <h3 class="widget-title">About us</h3>
                        <div class="widget-content">
                            <p>We are a Professional Services Company specializing in Data Science, Machine Learning, and Application machinelearning. Our /public/business is built around creative thinking and harmonious collaboration with our clients.</p>
                        </div>
                        <div class="social-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Widget :: About us -->
                </div>
                <div class="col-md-5">
                    <!-- Widget :: Contact us -->
                    <div class="latest-posts-widget widget widget-footer">
                        <h3 class="widget-title">Contact us</h3>
                        <!--<strong><a href="mailto:DataScienceNewYork@gmail.com">Email Here</a></strong>
                        <br>
                        <br>-->
                        <div class="widget-content">
                            <div class="contact">
                                <div class="form-group">
                                    <input type="text" name="fname" class="form-control name-field" required="required" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input id="subject" type="text" placeholder="Subject" required="required" class="form-control name-field"/>
                                </div>
                                <div class="form-group">
                                    <input type="email"  id="to" type="email" placeholder="Enter your E-mail" required="required"  name="email" class="form-control mail-field" />
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="content" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="send message" name="submit" id="send_email" class="btn btn-lg contact-btn" title="Submit Your Message!">
                                </div>
                                <span id="message"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /Widget :: Contact us -->
                </div>
                <div class="col-md-3">
                    <!-- Widget :: Address Info -->
                    <div class="contacts-widget widget widget-footer">
                        <h3 class="widget-title">Address</h3>
                        <div class="widget-content">
                            <ul class="contacts-info-list">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <div class="info-item"> <span>Address -</span>
                                        <br> 300 Park Ave, Hoboken NJ 07030
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i>
                                    <div class="info-item"> <span>Phone -</span>
                                        <br> +1 973.978.5509
                                    </div>
                                </li>
                                <li> <i class="fa fa-envelope"></i>
                                    <div class="info-item"> <span>Email -</span>
                                        <br> <a href="#">DataScienceNewYork@gmail.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Widget :: Address Info -->
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"> Copyright @ 2017 Power by <a href="http://themehappy.com/">Data Science New York</a> All Rights Reserved. </div>
                </div>
            </div>
        </div>

    </div>.
</footer>
<!-- /End Footer section -->

<!-- /End Switcher Design Area -->

<!-- Script -->
<script src="/public/business/js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/public/business/js/bootstrap.min.js"></script>
<!-- Carousel JS -->
<script src="/public/business/js/owl.carousel.min.js"></script>
<!-- WOW JS -->
<script src="/public/business/js/wow.min.js"></script>
<!--SmoothScroll JS -->
<script src="/public/business/js/SmoothScroll.js"></script>
<!-- Easypiechart JS -->
<script src="/public/business/js/jquery.easypiechart.min.js"></script>
<!--Inview JS -->
<script src="/public/business/js/jquery.inview.min.js"></script>
<!-- Magnific Popup JS -->
<script src="/public/business/js/jquery.magnific-popup.min.js"></script>
<!-- Mixitup Js -->
<script src="/public/business/js/jquery.mixitup.js"></script>
<!-- counterup -->
<script src="/public/business/js/jquery.counterup.min.js"></script>
<!-- animated headlines JS -->
<script src="/public/business/js/animated-headlines.js"></script>
<!-- waypoints -->
<script src="/public/business/js/jquery.waypoints.min.js"></script>
<!-- Color Switcher js -->
<script src="/public/business/switcher/switcher.js"></script>
<!-- particles JS -->
<script src="/public/business/js/particles.min.js"></script>
<script src="/public/business/js/app.js"></script>
<!-- countdown -->
<script src="/public/business/js/jquery.countdown.min.js"></script>
<!-- YTplayer js -->
<script src="/public/business/js/jquery.mb.YTPlayer.min.js"></script>
<!--LightBox-->
<script src="/bower_components/fancybox/dist/jquery.fancybox.min.js"></script>


<script type="text/javascript">
    $('.video-active').mb_YTPlayer();
</script>
<script>
    $(document).ready(function(){

/*
            $("a.items").fancybox({
                'type'          :   'iframe',
                autoSize : false,
                scrolling : 'auto',
                fitToView : true,
                width : 'auto',
                maxWidth : '100%',
                'transitionIn'	:	'elastic',
                'transitionOut'	:	'elastic',
                'speedIn'		:	600,
                'speedOut'		:	200,
                'overlayShow'	:	false
            });
*/

        var from,to,subject,text;
        $("#send_email").click(function(){

            to=$("#to").val();

            subject=$("#subject").val();

            text=$("#content").val();

            $("#message").text("Email is been sent at "+to+" . Please check inbox!");

            $.get("http://localhost:8054/send",
                {to:to,subject:subject,text:text},
                function(data){
                    $("#message").empty().html("Email is been sent at "+to+" . Please check inbox!");
                });
        });
    });
</script>
<!-- Custom JS -->
<script src="/public/business/js/custom.js"></script>
</body>

</html>