.axis text {
    font: 12px Melee Cloud;

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
    fill-opacity: .9;
    font: 12px Melee Cloud;
}

.x.axis path {
    display: none;
}

label {
    position: absolute;
    top: 10px;
    right: 10px;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
.pie {
    margin: 20px;
}

svg {
    float: left;
}

.legend {
    float: left;
    font-family: "Verdana";
    font-size: .7em;
}

.pie text {
    font-family: "Verdana";
    fill: #000;
}

.pie .name-text{
    font-size: .8em;
}

.pie .value-text{
    font-size: 3em;
}