.axis text {
    font: 12px Melee Cloud;

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
    fill-opacity: .9;
    font: 12px Melee Cloud;
}

.x.axis path {
    display: none;
}

label {
    position: relative;
    top: 10px;
    right: 10px;
}

path.slice{
    stroke-width:2px;
}

polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
.pie {
    margin: 20px;
    display: block;
}

svg {
    float: left;
}

.legend {
    float: left;
    font-family: "Verdana";
    font-size: .7em;
}

.pie text {
    font-family: "Verdana";
    fill: #000;
}

.pie .name-text{
    font-size: .8em;
}

.pie .value-text{
    font-size: 3em;
}

.legend rect {
    fill:white;
    opacity:0.4;
}
#ChartAccessAgesByCountD3 svg {
    height:500px;
    padding-top:50px;
}
.legend-items text {
    cursor: default;
}  body {
       font-size: 12px;
   }

text {
    fill: #000000;
}

svg {
    position: relative;
}

path {
    fill: #ffd800;
    fill-opacity: .2;
}

path:hover {
    fill: brown;
    fill-opacity: .7;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;

}

